{% extends "base_template.html" %}

{% block content %}

<div class="card mt-3">
  <div class="card-header">
    <h3>Listagem de clientes</h3>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <th>#</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Data de Nascimento</th>
        <th>Telefone</th>
      </thead>
      <tbody>
        {% for cliente in clientes %}
          <th>{{ cliente.id }}</th>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.data_de_nascimento }}</td>
          <td>{{ cliente.telefone }}</td>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}